<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bio Links</title>

        <link rel="stylesheet" href="/static/vendor/css/pico-css/pico.classless.min.css" />
        <link rel="stylesheet" href="/static/vendor/css/pico-css/pico.min.css" />
    </head>
    <body class="container">
        <form method="post">
            {% csrf_token %} {{form.as_p}}
            <input type="submit" value="submit" />
        </form>
        <footer>
            <small>&copy; 2023 | Vikash</small>
        </footer>
    </body>
</html>
